<h2 class="text-center">Opret Ny Kunde</h2>

<div class="col col-md-9 mx-auto">
  <form [formGroup]="createForm" (ngSubmit)="doCreate()">
    <div class="form-group my-2">
      <label for="firstname">Fornavn:</label>
      <input type="text" class="form-control" placeholder="Fornavn her..." id="firstname" formControlName="firstname">
    </div>

    <div class="form-group my-2">
      <label for="lastname">Efternavn:</label>
      <input type="text" class="form-control" placeholder="Efternavn her..." id="lastname" formControlName="lastname">
    </div>

    <div class="form-group my-2">
      <label for="address">Addresse:</label>
      <input type="text" class="form-control" placeholder="Addresse her..." id="address" formControlName="address">
    </div>

    <div class="form-group my-2">
      <label for="zipcode">Postnr:</label>
      <input type="number" class="form-control" placeholder="Postnummer her..." id="zipcode" formControlName="zipcode">
    </div>

    <div class="form-group my-2">
      <label for="city">By:</label>
      <input type="text" class="form-control" placeholder="Bynavn her..." id="city" formControlName="city">
    </div>

    <div class="form-group my-2">
      <label for="phoneNumber">Telefon:</label>
      <input type="number" class="form-control" placeholder="Telefon her..." id="phoneNumber" formControlName="phoneNumber">
    </div>

    <div class="form-group my-2">
      <label for="email">Email:</label>
      <input type="text" class="form-control" placeholder="Email her..." id="email" formControlName="email">
    </div>

    <div class="form-group my-2">
      <label for="password">Kodeord:</label>
      <input type="password" class="form-control" placeholder="Kodeord her..." id="password" formControlName="password">
    </div>

    <div class="row mt-3">
      <div class="col-6">
        <button type="submit" class="btn btn-outline-primary w-100">Gem</button>
      </div>
      <div class="col-6">
        <button type="reset" class="btn btn-outline-danger w-100">Nulstil</button>
      </div>
    </div>
    <div class="row mt-3" *ngIf="formError">
      <div class="col">
        <div class="alert alert-danger" role="alert">
          Fejl: {{ formErrorMessage }}
        </div>
      </div>
    </div>
  </form>
</div>
