<header class="navbar navbar-expand-sm navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow px-5">
  <a class="navbar-brand me-0 py-3" routerLink="/"><img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" style="width:75%;" alt="Logo"/></a>
  <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainMenu">

    <!-- Nav links for User Role (3) -->
    <ul class="navbar-nav" id="mainMenuList">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Dashboard</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Users</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="user">Show all users</a></li>
          <li><a class="dropdown-item" routerLink="user/create">Create user</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Categories</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="category">Show all categories</a></li>
          <li><a class="dropdown-item" routerLink="category/create">Create category</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Posts</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="post">Show all posts</a></li>
          <li><a class="dropdown-item" routerLink="post/create">Create post</a></li>
        </ul>
      </li>
    </ul>

    <!-- Nav links for User Role (2) -->
    <!--
    <ul class="navbar-nav" id="mainMenuList" >
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Dashboard</a>
      </li>
    </ul>
    -->

    <!-- Nav links for User Role (1) -->
    <!--
    <ul class="navbar-nav" id="mainMenuList">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Dashboard</a>
      </li>
    </ul>
    -->

  </div>
</header>

<main class="container-fluid px-5 py-3">
  <router-outlet></router-outlet>
</main>
