<h2 class="text-center">Alle Opslag</h2>

<div class="form-group my-3">
  <input type="search" class="form-control" [(ngModel)]="filter" placeholder="Filter by name or author">
</div>

<div class="table-responsive" *ngIf="posts$ | async as posts else loading">
  <table class="table table-striped table-hover table-sm" *ngIf="postsArray && postsArray.length > 0 else noPosts">
    <thead>
    <tr>
      <th sortable="id" (sort)="onSort($event)" scope="col">ID</th>
      <th sortable="title" (sort)="onSort($event)" scope="col">Overskrift</th>
      <th sortable="categoryName" (sort)="onSort($event)" scope="col">Kategori</th>
      <th sortable="paid" (sort)="onSort($event)" scope="col">Betalingsopslag</th>
      <th sortable="prettyDescriptor" (sort)="onSort($event)" scope="col">URL</th>
      <th sortable="authorName" (sort)="onSort($event)" scope="col">Forfatter</th>
      <th sortable="date" (sort)="onSort($event)" scope="col">Dato</th>
      <th scope="col">Valgmuligheder</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of postsArray | post:filter">
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
      <td>{{post.categoryName}}</td>
      <td *ngIf="post.paid === true">Ja</td>
      <td *ngIf="post.paid === false">Nej</td>
      <td>{{post.prettyDescriptor}}</td>
      <td>{{post.authorName}}</td>
      <td>{{post.date.toString().replace("T"," ").slice(0,-8)}}</td>
      <td><a routerLink="/post/edit/{{post.id}}">Redigér</a> | <a routerLink="/post/delete/{{post.id}}">Slet</a></td>
    </tr>
    </tbody>
  </table>
  <ng-template #noPosts>
    <h6 class="text-center">Ingen opslag fundet!</h6>
  </ng-template>
</div>

<ng-template #loading>
  <p>Indlæser...</p>
</ng-template>
