<h2 class="text-center">Alle Opslag</h2>

<div class="row">
  <div class="col">
    <div class="form-group my-3">
      <label for="filter">Søg:</label>
      <input type="search" id="filter" class="form-control" [(ngModel)]="filter" placeholder="Søg efter titel eller forfatter...">
    </div>
  </div>
</div>

<form [formGroup]="filterForm" (ngSubmit)="doFilter()">
<div class="row">
  <div class="col-3">
    <label class="form-label" for="category">Kategori:</label>
    <select formControlName="category" class="form-control" id="category" *ngIf="categories$ | async as categories">
      <option value="0">Alle</option>
      <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.title }}</option>
    </select>
  </div>
  <div class="col-3">
    <label class="form-label" for="author">Forfatter:</label>
    <select formControlName="author" class="form-control" id="author" *ngIf="users$ | async as users">
      <option value="0">Alle</option>
      <option *ngFor="let user of users" [ngValue]="user.id">{{ user.firstname }} {{ user.lastname}}</option>
    </select>
  </div>
  <div class="col-3">
    <label class="form-label" for="paid">Betalingsopslag:</label>
    <select formControlName="paid" class="form-control" id="paid">
      <option value="0">Alle</option>
      <option value="1">Ja</option>
      <option value="2">Nej</option>
    </select>
  </div>
  <div class="col-3 row align-bottom">
    <label class="form-label">Udfør:</label>
    <div class="col-6"><button type="submit" class="btn btn-primary w-100">Filtrer</button></div>
    <div class="col-6"><button type="reset" (click)="doReset()" class="btn btn-danger w-100">Nulstil</button></div>
  </div>
</div>
</form>

<hr />

<div class="table-responsive" *ngIf="posts$ | async as posts else loading">
  <table class="table table-striped table-hover table-sm" *ngIf="postsArray && postsArray.length > 0 else noPosts">
    <thead>
    <tr>
      <th scope="col"> </th>
      <th sortable="id" (sort)="onSort($event)" scope="col">ID</th>
      <th sortable="title" (sort)="onSort($event)" scope="col">Overskrift</th>
      <th sortable="categoryName" (sort)="onSort($event)" scope="col">Kategori</th>
      <th sortable="paid" (sort)="onSort($event)" scope="col">Betalingsopslag</th>
      <th sortable="prettyDescriptor" (sort)="onSort($event)" scope="col">URL</th>
      <th sortable="authorName" (sort)="onSort($event)" scope="col">Forfatter</th>
      <th sortable="date" (sort)="onSort($event)" scope="col">Dato</th>
      <th scope="col">Valgmuligheder</th>
    </tr>
    </thead>
    <tbody>
    <tr style="height:115px;" *ngFor="let post of postsArray | post:filter">
      <td style="vertical-align: middle; max-width:200px;"><img src="{{ post.featuredImageUrl }}" style="max-height: 115px;" /></td>
      <td style="vertical-align: middle;">{{post.id}}</td>
      <td style="vertical-align: middle;">{{post.title}}</td>
      <td style="vertical-align: middle;">{{post.categoryName}}</td>
      <td style="vertical-align: middle;">{{ post.paid ? "Ja" : "Nej" }}</td>
      <td style="vertical-align: middle;">{{post.prettyDescriptor}}</td>
      <td style="vertical-align: middle;">{{post.authorName}}</td>
      <td style="vertical-align: middle;">{{post.date.toString().replace("T"," ").slice(0,-8)}}</td>
      <td style="vertical-align: middle;font-size:24px;"><a routerLink="/post/edit/{{post.id}}"><i class="bi bi-pencil-square"></i></a> | <a routerLink="/post/delete/{{post.id}}"><i class="bi bi-trash"></i></a></td>
    </tr>
    </tbody>
  </table>
  <ng-template #noPosts>
    <h6 class="text-center">Ingen opslag fundet!</h6>
  </ng-template>
</div>

<ng-template #loading>
  <p>Indlæser...</p>
</ng-template>
