<h2 class="text-center">Opret Side</h2>

<div class="col col-md-9 mx-auto">
  <form [formGroup]="createForm" (ngSubmit)="doCreate()">
    <input type="hidden" formControlName="authorId">
    <div class="form-group my-2">
      <label for="post">Overskrift</label>
      <input type="text" class="form-control" placeholder="Overskrift her..." id="post" formControlName="title">
    </div>

    <div class="form-group my-2">
      <label for="prettyDescriptor">URL:</label>
      <input type="text" class="form-control" placeholder="URL her..." id="prettyDescriptor" formControlName="prettyDescriptor">
    </div>


    <!--
    <div class="form-group my-2">
      <label for="content">Content:</label>
      <angular-editor formControlName="content" [config]="editorConfig" id="content"></angular-editor>
    </div>
    -->

    <div class="form-group my-2">
      <label for="content">Indhold (min. 400 tegn):</label>
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          [ngModel]="html"
          [disabled]="false"
          [minlength]="400"
          [placeholder]="'Type here...'"
          formControlName="content"
          id="content"></ngx-editor>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-6">
        <button type="submit" class="btn btn-outline-primary w-100">Gem</button>
      </div>
      <div class="col-6">
        <button type="reset" class="btn btn-outline-danger w-100">Nulstil</button>
      </div>
    </div>
    <div class="row mt-3" *ngIf="formError">
      <div class="col">
        <div class="alert alert-danger" role="alert">
          Fejl: {{ formErrorMessage }}
        </div>
      </div>
    </div>
  </form>
</div>
