<h2 class="text-center">Redigér Side</h2>

<div class="col col-md-9 mx-auto">
  <form [formGroup]="editForm" (ngSubmit)="doEdit()">
    <input type="hidden" formControlName="authorId">
    <div class="form-group my-2">
      <label for="id">Side ID:</label>
      <input type="number" class="form-control bg-light" id="id" formControlName="id" [attr.disabled]="true">
    </div>

    <div class="form-group my-2">
      <label for="title">Overskrift:</label>
      <input type="text" class="form-control" placeholder="Overskrift her..." id="title" formControlName="title" [readOnly]="!editState">
    </div>

    <div class="form-group my-2">
      <label for="prettyDescriptor">URL:</label>
      <input type="text" class="form-control" placeholder="URL spor her..." id="prettyDescriptor" formControlName="prettyDescriptor" [readOnly]="!editState">
    </div>

    <!--
    <div class="form-group my-2">
      <label for="content">Indhold:</label>
      <angular-editor formControlName="content" id="content" [config]="editorConfig"></angular-editor>
    </div>
    -->
    <div class="form-group my-2">
      <label for="content">Indhold (min. 400 tegn):</label>
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          [disabled]="!editState"
          [ngModel]="html"
          [minlength]="400"
          [placeholder]="'Type here...'"
          formControlName="content"
          id="content"></ngx-editor>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-6">
        <button type="submit" class="btn btn-outline-primary w-100">
          <span *ngIf="!editState; then cantEdit else canEdit"></span>
          <ng-template #canEdit>
            Gem
          </ng-template>
          <ng-template #cantEdit>
            Redigér
          </ng-template>
        </button>
      </div>
      <div class="col-6">
        <span *ngIf="!editState; then goBackBtn else cancelBtn"></span>
        <ng-template #goBackBtn>
          <button (click)="goBack()" class="btn btn-outline-warning w-100">Tilbage</button>
        </ng-template>
        <ng-template #cancelBtn>
          <button (click)="cancel()" class="btn btn-outline-warning w-100">Afbryd</button>
        </ng-template>
      </div>
    </div>
    <div class="row mt-3" *ngIf="formError">
      <div class="col">
        <div class="alert alert-danger" role="alert">
          Fejl: {{formErrorMessage}}
        </div>
      </div>
    </div>
  </form>
</div>
